---
import aboutImg from "@/assets/about-astro.png";
import PageLayout from "@/layouts/Base.astro";
import Astro.Icon;
import { Image } from "astro:assets";

const meta = {
	description: "About Phantom",
	title: "About",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>
				By day, I'm a DevOps engineer and I love to learn and find solutions. My primary skills are C#,
      			PowerShell, bicep, Azure, Git, CI/CD. I have written in a lot more but that is where my strengths
      			are. I am more concerned with continually learning more than I am concerned with a specific track.
      			Looking forward to more collaboration along the way.
		</p>
		<div class="flex justify-center">
			<Image
				alt="A cartoon cactus looking at the 'Astro.build' logo"
				fetchpriority="high"
				loading="eager"
				src={aboutImg}
			/>
		</div>
		<p>Here are my some of my awesome built in features:</p>
		<ul class="list-inside list-disc">
			<li>I'm ultra fast as I'm a static site</li>
			<li>I'm fully responsive</li>
			<li>I come with a light and dark mode</li>
			<li>I'm easy to customise and add additional content</li>
			<li>I have Tailwind CSS styling</li>
			<li>Shiki code syntax highlighting</li>
			<li>Satori for auto generating OG images for blog posts</li>
		</ul>
	</div>
</PageLayout>
