---
import { Icon } from "astro-icon/components";

/** 
	Uses https://www.astroicon.dev/getting-started/
	Find icons via guide: https://www.astroicon.dev/guides/customization/#open-source-icon-sets
*/
const socialLinks: {
	friendlyName: string;
	isWebmention?: boolean;
	link: string;
	name: string;
}[] = [
	{
		friendlyName: "Github",
		link: "https://github.com/TresLanghorne",
		name: "mdi:github",
	},
	{
		friendlyName: "Mastodon",
		link: "#",
		name: "mdi:mastodon",
	},
	{
		friendlyName: "LinkedIn",
		link: "#",
		name: "mdi:linkedin",
	},
	{
		friendlyName: "email",
		isWebmention: true,
		link: "mailto:lost@phantom.ninja",
		name: "mdi:email",
	},
];
---

<div class="flex flex-wrap items-end gap-x-4">
	<p>Find me on</p>
	<ul class="flex flex-1 items-center gap-x-2 sm:flex-initial">
		{
			socialLinks.map(({ friendlyName, isWebmention, link, name }) => (
				<li class="flex">
					<a
						class="inline-block p-1 sm:hover:text-link"
						href={link}
						rel={`noopener noreferrer ${isWebmention ? "me authn" : ""}`}
						target="_blank"
					>
						<Icon aria-hidden="true" class="h-6 w-6" focusable="false" name={name} />
						<span class="sr-only">{friendlyName}</span>
					</a>
				</li>
			))
		}
	</ul>
</div>
